*,*::before,*::after{
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
}

:root{
    --color-neutral:200;
    --color-wrong:0;
    --color-correct:145;
}
.btn.test{
    background-color: purple;
}

body{
    --color:var(--color-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--color), 100%, 20%);
}
body.correct{
    --color:var(--color-correct);
    background-color: hsl(var(--color), 100%, 20%);
}
body.wrong{
    --color:var(--color-wrong);
    background-color: hsl(var(--color), 100%, 20%);

}
.container{
    /* width: 400px; */
    /* height:200px; */
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
.btn{
    --color:var(--color-neutral);
    border: 1px solid hsl(var(--color), 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: hsl(var(--color), 100%, 50%);
    color: white;
    outline: none;
    cursor: pointer;
    

}
.btn:hover{
    border-color: black;
}
.btn.correct{
    --color:var(--color-correct);
    background-color: hsl(var(--color), 100%, 50%);

    color: #000;
}
.btn.wrong{
    --color:var(--color-wrong);
    background-color: hsl(var(--color), 100%, 50%);

}
.start-btn,.next-btn{
    font-size: 3rem;
    font-weight: bolder;
    padding: 10px 20px;


}
.controls{  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hide{
    display: none;
}

